/*Reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #4AE6D3;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header detalhe"
        "main detalhe"
        "footer detalhe";
    font-family: 'Oswald', sans-serif;
    grid-template-columns: 1fr 500px;
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    
}
.logo{
    width: 200px;
    margin-left:100px ;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top:36px; 
    
}
.number_setas{
    margin-left: 900px;
    margin-top: 50px;
    font-size: 50px;
}
.setas{
    background-color: black;
    width: 80px;
    height: 50px;
    display: flex;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 20px;
    margin-top: 50px;
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.text_travessao{
    display: flex;
    margin-top: -300px;
    margin-left: 200px;
    width: 200px;
    height: 3px;
    }

.out_main{
        height: 100px;
        display: flex;
        margin-top: -300px;
        font-size: 50px;
        font-weight: 900;
        text-align: end;
        font-family: 'Oswald', sans-serif;
    }
.text_main{
        height: 200px;
        width: 700px;
        margin-top: 50px;
        margin-left: -450px;
        font-size: 50px;
        font-weight: 900;
    }
.desc_tenis{
        text-align: justify;
        margin-left: -90px;
        margin-top: -300px;
        height: 130px;
        width: 400px;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
    }
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 900px;
    height: 50px;
    align-items: center;
    margin-top: 50px;
    margin-right: -250px;
}

.pontos{
    flex-direction: column;
    display: flex;
    gap: 80px; 
    margin-top:16px; 
  
}

.detalhe{
    background-color:#4AE6D3;
    grid-area: detalhe;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    

     
    
}
.tenis{
     width: 900px;
    height: 900px; 
    
 }
 .sombra{
    width: 900px;
   
    display: flex;
    margin-top: -220px;
    
    
 }


footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    margin-left: 56px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    
}
